<h3>
  <strong>Métrica: </strong> Cantidad media de memoria utilizada
</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Métrica</th>
      <th scope="col">Descripción</th>
      <th scope="col">Propósito de la métrica</th>
      <th scope="col">Función de medida</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Cantidad media de memoria utilizada</td>
      <td>¿Cuánta memoria se usa para ejecutar un conjunto de tareas en comparación con la memoria disponible?</td>
      <td>Determinar el tamaño de la memoria que se utiliza para recibir una respuesta a una operación del ORM</td>
      <td>
        <img src="/images/otros.png"><br>
        Ai = Tamaño de la memoria realmente utilizada para realizar un conjunto dado de tareas para el procesamiento de muestras<br>
        Bi = Tamaño de memoria disponible para realizar las tareas durante el procesamiento de muestras<br>
        n = Cantidad de muestras procesadas<br>
      </td>
    </tr>
    </tbody>
  </table>
</div>