<h3>
  <strong>Métrica: </strong> Capacidad
</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Propósito de la métrica</th>
      <th scope="col">Método de aplicación</th>
      <th scope="col">Fórmula</th>
      <th scope="col">Interpretación</th>
      <th scope="col"> Tipo de medida</th>
      <th scope="col">Origen de la medida</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Determinar la cantidad de llamadas que puede procesar el Active Record sin fallar.</td>
      <td>Estimar la capacidad máxima del Active Record del manejo de tareas encoladas.</td>
      <td>X = cantidad de llamadas respondidas con éxito / cantidad de llamadas realizadas</td>
      <td>Mientras mayor la tasa, mejor</td>
      <td>X = tasa</td>
      <td>Cantidad de llamadas realizadas por el Active Record y cantidad de respuestas recibidas.</td>
    </tr>
    </tbody>
  </table>
</div>