<h3>
  <strong>Métrica: </strong> Capacidad de procesamiento de transacciones
</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Métrica</th>
      <th scope="col">Descripción</th>
      <th scope="col">Propósito de la métrica</th>
      <th scope="col">Función de medida</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Capacidad</td>
      <td>¿Cuántas transacciones se pueden procesar por unidad de tiempo?</td>
      <td>Determinar la capacidad que puede tener el modulo ORM de cada framework</td>
      <td>
        <img src="/images/capacidad_de_procesamiento_de_transacciones.png"><br>
        A = Numero de transacciones completadas durante el tiempo de observación<br>
        B = Duración de la obersación<br>
      </td>
    </tr>
    </tbody>
  </table>
</div>