<h3>
  <strong>Métrica: </strong> Rendimiento o Throughput time
</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Propósito de la métrica</th>
      <th scope="col">Método de aplicación</th>
      <th scope="col">Fórmula</th>
      <th scope="col">Interpretación</th>
      <th scope="col"> Tipo de medida</th>
      <th scope="col">Origen de la medida</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Determinar la cantidad de operaciones que pueden completarse en una unidad de tiempo</td>
      <td>
        Medir la eficiencia en una unidad de tiempo de las peticiones atomicas. Se medirán la cantidad de peticiones respondidas exitósamente que pueden llevarse a cabo en una unidad de tiempo a través del Active Record.
      </td>
      <td>X = cantidad de llamadas por unidad de tiempo</td>
      <td>Mientras más alta la tasa obtenida, mejor.</td>
      <td>X = llamadas completas por unidad de tiempo</td>
      <td>Cantidad de peticiones atómicas</td>
    </tr>
    </tbody>
  </table>
</div>