<h3>
  <strong>Métrica: </strong> Rendimiento medio
</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Métrica</th>
      <th scope="col">Descripción</th>
      <th scope="col">Propósito de la métrica</th>
      <th scope="col">Función de medida</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Rendimiento medio</td>
      <td>
        ¿Cuál es el número medio de trabajos completados por unidad de tiempo?
      </td>
      <td>Determinar el rendimiento medio que toma en realizar el ORM con multiples peticiones por unidad de tiempo </td>
      <td>
        <img src="/images/otros.png"><br>
        Ai = Numero de trabajos completados durante el tiempo de observación<br>
        Bi = Periodo del tiempo de observación<br>
        n = Número de observaciones<br>
      </td>
    </tr>
    </tbody>
  </table>
</div>