<h3><strong>Métrica: </strong> Tiempo de respuesta</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Propósito de la métrica</th>
      <th scope="col">Método de aplicación</th>
      <th scope="col">Fórmula</th>
      <th scope="col">Interpretación</th>
      <th scope="col"> Tipo de medida</th>
      <th scope="col">Origen de la medida</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Obtener el tiempo de respuesta que toma una llamada atómica usando el Active Record</td>
      <td>Evaluar los tiempos de respuestas que genera una peticion atómica. Se medirá el tiempo completo que genera el uso del Active Record.</td>
      <td>X = Tiempo Calculado</td>
      <td>Mientras más bajo el valor obtenido, mejor.</td>
      <td>X = tiempo en milisegundos</td>
      <td>Tiempo esperado en una petición atómica del Active Record.</td>
    </tr>
    </tbody>
  </table>
</div>