<h3><strong>Métrica: </strong> Tiempo medio de respuesta</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Métrica</th>
      <th scope="col">Descripción</th>
      <th scope="col">Propósito de la métrica</th>
      <th scope="col">Función de medida</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Tiempo medio de respuesta</td>
      <td>¿Cuánto es el tiempo promedio que tarda el sistema en responder a una tarea del usuario o tarea del sistema?</td>
      <td>Obtener el tiempo promedio de respuesta que toma una petición en el ORM en cada framework </td>
      <td>
        <img src="/images/tiempo_medio_de_respuesta.png"><br>
        Ai = Tiempo que toma el sistema en responder a una tarea especifica<br>
        n = Numero de respuestas medidas
      </td>
    </tr>
    </tbody>
  </table>
</div>