<h3>
  <strong>Métrica: </strong> Utilización media del procesador
</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Propósito de la métrica</th>
      <th scope="col">Método de aplicación</th>
      <th scope="col">Fórmula</th>
      <th scope="col">Interpretación</th>
      <th scope="col"> Tipo de medida</th>
      <th scope="col">Origen de la medida</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Determinar cuántas veces el caché es utilizado para realizar las mismas acciones.</td>
      <td>Determinar la utilidad de caché en el Active Record</td>
      <td>X = llamadas que utilizaron caché / llamadas totales</td>
      <td>Mientras mayor sea la tasa, mejor</td>
      <td>X = tasa</td>
      <td>Cantidad de operaciones que se registraron en el sistema y cantidad de llamadas que utilizaron el uso del caché</td>
    </tr>
    </tbody>
  </table>
</div>