<h3>
  <strong>Métrica: </strong> Utilización media del procesador
</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Métrica</th>
      <th scope="col">Descripción</th>
      <th scope="col">Propósito de la métrica</th>
      <th scope="col">Función de medida</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Utilización media del procesador</td>
      <td>¿Cuánto tiempo de procesador se usa para ejecutar un conjunto determinado de tareas en comparación con el tiempo de operación?</td>
      <td>Determinar el tiempo de procesador en comparacion con el tiempo de operacion para un conjunto de tareas del ORM</td>
      <td>
        <img src="/images/otros.png"><br>
        Ai = El tiempo del procesador que realmente se usa para ejecutar un conjunto dado de tareas en la observación<br>
        Bi = Tiempo de operación para realizar las tareas en observación<br>
        n = Numero de observaciones<br>
      </td>
    </tr>
    </tbody>
  </table>
</div>