<h3>
  <strong>Métrica: </strong> Utilización de la memoria
</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Propósito de la métrica</th>
      <th scope="col">Método de aplicación</th>
      <th scope="col">Fórmula</th>
      <th scope="col">Interpretación</th>
      <th scope="col"> Tipo de medida</th>
      <th scope="col">Origen de la medida</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Determinar el tamaño de memoria que se utiliza para recibir una respuesta a una operación atómica.</td>
      <td>Determinar la cantidad de memoria usada por el Active Record.</td>
      <td>X = tamaño en bytes (calculado)</td>
      <td>Mientras menor sea el valor, mejor.</td>
      <td>X = bytes</td>
      <td>Tamaño en memoria de la respuesta de una operación atómica</td>
    </tr>
    </tbody>
  </table>
</div>