<h3>
  <strong>Métrica: </strong> Velocidad bajo estrés
</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Propósito de la métrica</th>
      <th scope="col">Método de aplicación</th>
      <th scope="col">Fórmula</th>
      <th scope="col">Interpretación</th>
      <th scope="col"> Tipo de medida</th>
      <th scope="col">Origen de la medida</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Determinar la velocidad de respuesta promedio del Active Record con una gran cantidad de tareas encoladas.</td>
      <td>Estimar la eficiencia del Active Record bajo una situación de estrés del modulo</td>
      <td>X = tiempo total de respuesta / cantidad de llamadas completadas</td>
      <td>Mientras menor la tasa, mejor</td>
      <td>X = ms / llamadas completas</td>
      <td>Cantidad de llamadas con respuesta por el Active Record y el tiempo total de espera.</td>
    </tr>
    </tbody>
  </table>
</div>